.w-20{
  width: 20%;
}
.w-30{
  width: 30%;
}
.text-logo{
  width: 100px;
}
.sidebar{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.bi{
  margin-right: 10px;
  font-size: 24px;
}
.story{
  height: 90px;
  padding: 10px;
}
.dp{
  height:24px;
  margin-top: 3px;
  margin-right: 5px;
}
.dp-s{
  width: 30px;
  height: 30px;
}
.image{
  width: 300px;
}
.gradient-border{
  width: 65px;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: linear-gradient(45deg, #ff00ff ,#ff6600 ,#ffcc00);
}
.dp-story{
  width: 60px;
}
.profile{
  height: 115px;
  width: 115px;
}